# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Database
*.sqlite
*.sqlite3

# Video data
/data/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Logs
*.log
npm-debug.log*

www.youtube.com_cookies.txt

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan
terraform/terraform.tfvars
terraform/.terraform.tfstate.lock.info